@mixin avatar($tamanho, $circulo: false) {
    width: $tamanho;
    height: $tamanho;
    @if $circulo {
        border-radius: $tamanho / 2;
    } @else {
        border: red 2px solid;
    }
}

.photo {
    @include avatar(150px, true)
}