$corPrimaria: #00f !default;
$corPrimariaTexto: #fff !default;
$cantos: 0 !default;


* {
    box-sizing: border-box;
}

a {
    color: #111;
    text-decoration: none;
    &:hover {
        color: $corPrimaria;
    }
}

.button {
    background-color: $corPrimaria;
    color: $corPrimariaTexto;
    padding: 8px 32px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: $cantos;
    &:hover {
        background-color: rgba($corPrimaria, .8);
    }
}

#logo {
    color: $corPrimaria;
    font-weight: bold;
    font-size: 24px;
    text-decoration: uppercase;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    nav {
        width: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

main {
    margin: 15vw;
    padding-right: 320px;
    background-image: url("https://picsum.photos/300/400");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 300px;
    min-height: 400px;
    h1 {
        font-weight: bold;
        font-size: 48px;
        span {
            color: $corPrimaria;
        }
        small {
            display: block;
            font-weight: 100;
            font-size: 24px;
        }
    }
    p {
        margin-bottom: 60px;
    }
    .button {
        padding: 16px 64px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-size: 12px;
    color: #999;
}