$laranja-variavel: #ff760c;
$laranja-variavel-transparente: rgba($laranja-variavel, .33);
$background-color: #0000ff;

:root {
    --laranja-variavel: #ff760c;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: $background-color;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--laranja-variavel);
        height: 100px;
        // --laranja-variavel: #ff0000;
        h1 {
            margin: 0;
        }
        h2 {            
            --laranja-variavel: #ff0000;
            background-color: #fff;
            padding: 20px;
            color: var(--laranja-variavel);
        }
    }    
}
section {
    background-color: $laranja-variavel-transparente;
    height: calc(100vh - 200px);
}