@use "myStyles" with(    
    $color-primary: #13e246
);

@use "myColor";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: myStyles.$color-color;
}

#chat {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    list-style: none;
    li {
        $background-color: #f5f6fa;
        display: flex;
        margin-bottom: 32px;
        .avatar {
            padding: 0 16px;
            display: flex;
            align-items: flex-end;
            img {
                @include myStyles.circulo;                
                width: 48px;
            }
        }
        .message {            
            flex: 1;
            background-color: myColor.invert(myStyles.$color-primary, 100%);
            padding: 16px;
            @include myStyles.arredondado(25px);   
            border-bottom-left-radius: 0;
            strong {
                color: #242939;
            }
            p {
                font-size: 14px;
            }
            time {
                font-size: 12px;
                letter-spacing: 1px;
                opacity: .65;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            button {
                border: none;
                background: none;
                outline: none;
                img {
                    width: 16px;
                    opacity: .5;
                    cursor: pointer;
                }
            }
        }
        &.me {
          $background-color: myStyles.$color-primary;
          flex-direction: row-reverse;
          color: #fff;
          .message {
            background-color: $background-color;
            border-bottom-left-radius: myStyles.$raio-padrao;
            border-bottom-right-radius: 0;
            ::selection {
                background: #fff;
                color: myStyles.$color-primary;
            }
          }
          strong {
              display: none;
          }
        }
    }
}